<!-- Header -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ title }} <small *ngIf="additionalInfo">{{ additionalInfo }}</small>
                </h1>
            </div>
            <div class="col-xs-3">
                <div class="dropdown create">
                    <button class="btn btn-default" type="button" [routerLink]="[buttonNavigateTo]">
                        {{ buttonText }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>