<!-- Header -->
<ua-user-header
    [title]="'Users'"
    [additionalInfo]="'All Users'"
    [buttonText]="'Add new user'"
    [buttonNavigateTo]="'/adduser'"></ua-user-header>

<!-- User list -->
<section id="main" (userDeleted)="getUsers()">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <!-- Panel -->
                <div class="panel panel-default">

                    <!-- Panel Heading -->
                    <div class="panel-heading main-color-bg">
                        <h1 class="panel-title text-center"><strong>Users</strong></h1>
                    </div>
                    
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="text" placeholder="Filter Users..." [(ngModel)]="nameFilter">
                            </div>
                        </div>
                        <br>
                        <!-- Table -->
                        <table class="table table-striped table-hover">
                            <!-- Table Head -->
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Location</th>
                                    <th>Joined</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!-- Table Body -->
                            <tbody>
                                <tr *ngFor="let user of users | filterByName: nameFilter" [routerLink]="['/user', user._id]">
                                    <td>{{ user.name.first }} {{ user.name.last }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.location.city }}, {{ user.location.state }}</td>
                                    <td>{{ user.date_joined }}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="showModal($event, user)">
                                            <strong><i class="glyphicon glyphicon-remove"></i></strong>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Delete user modal -->
<ua-user-modal
    [user]="userSelected"
    (userDeleted)="updateUsers()">
</ua-user-modal>