<!-- Header -->
<ua-user-header
    [title]="'Users'"
    [additionalInfo]="'All users'"
    [buttonText]="'Add new user'"
    [buttonNavigateTo]="'/adduser'"></ua-user-header>

<!-- User list -->
<section id="main" *ngIf="user">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Panel -->
                <div class="panel panel-default">
                    
                    <!-- Panel Heading -->
                    <div class="panel-heading main-color-bg">
                        <h1 class="panel-title text-center">
                            <strong>{{ user.name.first }} {{ user.name.last }}</strong>
                        </h1>
                    </div>
                    
                    <!-- Panel Body -->
                    <div class="panel-body">

                        <!-- Main info -->
                        <div class="row">
                            <!-- Avatar -->
                            <div class="col-xs-4 col-xs-push-1">
                                <img [src]="user.avatar" class="avatar" [alt]="user.avatar">
                            </div>
                            <!-- User details -->
                            <div class="col-xs-6 col-xs-push-1">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong class="text-primary">Name:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <span>{{ user.name.first }} {{ user.name.last }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong class="text-primary">E-mail:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <span>{{ user.email }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong class="text-primary">Location:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <span>{{ user.location.city }} {{ user.location.state }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong class="text-primary">Joined:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <span>{{ user.date_joined }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!-- User bio -->
                        <div class="row">
                            <div class="col-xs-10 col-xs-push-1 lead">
                                <p class="text-center text-primary">
                                    <strong>Bio : </strong>
                                </p>
                                <p>
                                    {{ user.bio }}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Panel Footer -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6 col-xs-push-3">
                                <button type="button" class="btn btn btn-primary col-xs-6" [routerLink]="['/edituser', user._id]">
                                    Edit User
                                </button>
                                <button type="button" class="btn btn btn-danger col-xs-6" (click)="showModal()">
                                    Delete User
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- User delete modal -->
<ua-user-modal
    [user]="user"
    (userDeleted)="navigateToUsersList()"
    ></ua-user-modal>